body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

.container{
    width: 100%;
    max-width: 1158px;
    /* max-width: 1158px;*/
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    /* =============HEADER============= */
.header{
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
}

.navigation{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 332px;
    justify-content: space-between;
   
}

.menu-link{
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em; /* 0.54/18 */
    text-transform: uppercase;
    margin-right: 76px;

}
.menu-name{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway, sans-serif;  
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em; /* 0.54/18 */
    text-transform: uppercase;
   
}
.menu-link:hover{
    transform: scale(110%);
}

.menu-link:focus{
    transform: scale(110%);
}

.header-menu-list{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em; /* 0.32/16 */
    display: flex;
    gap: 40px;
}

.header-menu-link.current{
    color: #404bbf;}

.header-menu-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.header-menu-link{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px; 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    position: relative;

}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link:active {
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-menu{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 24/16 */
    letter-spacing: -0.02em;
    display: flex;
    gap: 40px;
    
}
.address-link{
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0 ; 
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover , .address-link:focus{
    color: #404bbf;
}
   /* ==========SECTION HERO===========*/
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container{ 


   
}

.hero-title {
    box-sizing: border-box;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;/* 60/56 */
    letter-spacing: 0.02em; /* 1.12/56 */
    max-width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.hero-btn {
    color: var(--WHITE, #FFF);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 24/16 */
    letter-spacing: 0.04em; /* 0.64/16 */
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: #404BBF;
    min-width: 169px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    display: block  ;
    
}

.hero-btn:hover , .hero-btn:focus{
    background-color: #404BBF;
}

/* ==========SECTION ABOUT US===========*/

.my-content {
    background: #fff;
    padding: 120px 0 ;
}

.my-content-container{

    
}
.my-content-list{
    display: flex;
    gap: 24px;

}

.my-content-item {
    width: calc((100% - 72px) / 4);
}

.container-contant-item{
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;  
    margin-bottom: 8px;  

}


.icon-about-us{
    fill: #2E2F42;
    width: 64;
    height: 64;

}

.my-content-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 24/20 */
    letter-spacing: 0.02em; /* 0.4/20 */
    margin-bottom: 8px;
}

.my-content-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    letter-spacing: 0.02em; /* 0.32/16 */
}
/* ==========SECTION OUR TEAM===========*/

.our-team {
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0;

}
.out-team-container{
}

.our-team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 40/36 */
    letter-spacing: 0.02em; /* 0.72/36 */
    text-transform: capitalize;
    margin-bottom: 72px;

}

.our-team-list {
    display: flex;
    gap: 24px;
   
}

.our-team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.our-team-itemdiv{
    padding-top: 32px ;
    padding-bottom: 32px;
}

.our-team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
}

.our-team-name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 24/20 */
    letter-spacing: 0.02em; /* 0.4/20 */
    margin-bottom: 8px;
}

.our-team-text {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    letter-spacing: 0.02em;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.icon-list-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-item-team {
    width: 40px;
    height: 40px;
}
.icon-link-team {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon-team {
    fill: #f4f4fd;

}

.icon-link-team:hover , .icon-link-team:focus{
    background-color: #404bbf;
}





/* ==========SECTION PORTFOLIO===========*/

.portfolio {
    background: #FFF;
    padding-top: 120px ;
    padding-bottom: 120px;
}


.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 40/36 */
    letter-spacing: 0.02em; /* 0.72/36 */
    text-transform: capitalize; 
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}

.portfolio-item {    
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}


.portfolio-item:hover .portfolio-item-hover-text{
    transform: translateY(0%);
}

.portfolio-item:hover {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item-wrap {
    position: relative;
    overflow: hidden;
    
}
 

.portfolio-item-hover-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top:0;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-div-element{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-div-element:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background: var(--white);  
}

.portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 24/20 */
    letter-spacing: 0.02em; /* 0.4/20 */
    margin-bottom: 8px
}

.portfolio-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    letter-spacing: 0.02em; /* 0.32/16 */
}

/* ==========FOOTER===========*/

.footer-part{
    background: var(--NAVY-BLUE, #2E2F42);
    flex-shrink: 0;
    padding: 100px 0;
}

.container-footer{
    display: flex;
    align-items: baseline
}

.foot-logo{
    margin-right: 120px ;
}

.footer-link{
    flex-wrap: wrap;
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em; /* 0.54/18 */
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footer-span-title{
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em; /* 0.54/18 */
    text-transform: uppercase;
}

.footer-text{ 
    width: 264px;
    color: var(--CLOUD, #FFFFFF);
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    letter-spacing: 0.02em; /* 0.32/16 */
}

.foot-social-media{
   
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
     margin-bottom: 16px;

}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;

}
.icon-item {
    width: 40px;
    height: 40px; 

}
.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon {
    fill: #f4f4fd;
   
}

.icon-link:hover , .icon-link:focus{
    background-color: #31d0aa;
    transform: scale(110%);
}

.footer-subscribe-div{
    display: block;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 80px;
}

.footer-subscribe-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.label-footer-form{
    
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid  #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff; 
}
.footer-input::placeholder{
    color: #ffffff; 
}
.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color:  #fff;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border: none;
    min-width: 165px;
    height: 40px;

}
.icon-subscribe {
    fill: #fff ;
    margin-left: 16px;
}

/*------ MODAL WINDOW------- */
 
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4) ;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    visibility: hidden;
    pointer-events: none;
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    padding: 72px 24px 24px 24px;
}

.modal-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover{
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-close:focus{
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-svg-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-icon:hover{
    fill: #ffffff;
}

.modal-svg-icon:focus{
    fill: #ffffff;
}

.modal-title{
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form{
    gap: 24px;
}

.modal-form-div{
    margin-bottom: 8px
}

.modal-label{
    position: relative; 
    display: block;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99; 
    margin-bottom: 4px;
}
.modal-label-div {
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border-radius: 4px;
    padding-left: 38px;
    margin-bottom: 16px
}

.modal-input::placeholder{
    color: #ffffff; 
}

.modal-input:focus{
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon{
    fill: #4D5AE5; 
}

.modal-icon{
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-last-div{
    margin-bottom: 16px
}

.modal-textarea{
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px ;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-textarea:focus{
    border-color: #4D5AE5;
}

.last-form-punct{
    margin-bottom: 24px;
}


.check-text{  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-form{
    display: inline-flex;
    width: 16px;
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center; 
    justify-content: center;
    fill: transparent;
}
.link-policy{
    color: #4d5ae5;
}

.form-check:checked + .span-form{
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}

.modal-btn{
    min-width: 169px; 
    height: 56px;
    display:block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5 ;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  